*{
    margin: 0px;
    padding: 0px;
}
body{
  box-sizing: border-box;
}
.nav-bar{
    display: flex;
   justify-content: space-between;
    align-items: center;
}
.search-container {
    margin-top: 10px;
    position: relative;
    display: inline-block;
  }
  
  /* Style the input field */
  .search-container input[type="text"] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px; /* Adjust the width as needed */
  }
  
  /* Style the search icon */
  .search-container i.fa-search {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .nav-icon{
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    border-radius: 50%;
    padding: 6px;
    background-color: palevioletred;
  }
  .nav-sign{
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    align-items: center;
  }
  .nav-signin{
    margin-right: 15px;
    color: white;
  }
  .nav-person{
    background-color: palevioletred;
    display: flex;
    border-radius: 50%;
    padding: 5px;
  }
  .banner{
    object-fit: fit-content;
    width: 10px;
    height: 40%;
  }
  .banner-contents{
    margin-top: 30px;
    margin-left: 10px;
  }
  .banner-content-description{
    margin-top: 10px;
  }
  .banner-title{
    color: white;
  }
  .banner-description{
    color: white;
    max-width: 400px;
  }
  .banner-button{
    margin-top: 11px;
    margin-left: 100px;
  }
  .banner-button-trailer{
    display: flex;
    width: 150px;
    padding-top: 4px;
    padding-left: 15px;
    padding-bottom: 4px;
    color: white;
    font-size: large;
    border-radius: 5px;
    background-color: orangered;
  }
  @media screen and (max-width:400px) {
    .banner{
      height: 30%;
      width: 100%;
    }
    .nav-sign{
      display: flex;
      margin-left: 30px;
      margin-right: 30px;
      align-items: center;
    }
    .nav-signin h3{
        margin-right: 30px;
        font-size: small;

    }
    .search-container input[type="text"]{
      width: 100px;
    }
  
    .person{
      font-size: medium;
    }
    .banner-button-trailer{
      width: 80px;
    }
  }
  @media screen and(min-width:500px) {
    .banner{
      height: 30%;
      width: 100%;
    }
    .nav-sign{
      display: flex;
      margin-left: 60px;
      margin-right: 60px;
      align-items: center;
    }
    .nav-signin h3{
        margin-right: 60px;
        font-size: small;

    }
    .search-container input[type="text"]{
      width: 120px;
    }
  
    .person{
      font-size: medium;
    }
    .banner-button-trailer{
      width: 100px;
    }
  }
 