*{
    margin: 0px;
    padding: 0px;
}
.image{
   height: 160px;
   width: 160px;
   object-fit: contain;
}
body{
    box-sizing: border-box;
    max-width: 1440px;
}
.movies{
    max-width:1307px;
    display: grid;
    grid-template-columns: repeat(4,23%);
    grid-template-rows: repeat(3,32%);
    gap: 10px;
    box-sizing: border-box;
}

.fav-icon{
    color: grey;
    display: flex;
    padding-left: 78%;
}
.main-title{
    margin-left: 10px;
    margin-top: 15px;
}
.movie-title{
    margin-top: 5px;

}
.active{
    background-color: 'red';
}
@media screen and(max-width:580px) {
  .movies{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
    
