.footer {
    width:80%;
    margin:150px auto;
    display: flex;
    flex-direction: column;
  }
  
  .footer .icons {
  padding: 12px auto;
  width: 40%;
  }
  .footer .icons,.footer .author, .footer .conditions{
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
  }
  .footer .icons i {
    font-size: 20px;
  }
  .footer .conditions {
  width: 60%;
  
  }
  .footer .conditions  p {
  padding: 10px 20px;
  color:darkslategrey;
  font-weight: 500;
  }
  
  .footer .author {
  width:200px;
  color:gray;
  font-size: 15px;
     }